.container.main {
	padding:0px;
	padding-top: 20px;
}


.container.main .about .one{
	font-size: 1.2em;
}

.container.main .projects .list-group-item:hover{
	background-color: lightgray;
}
.container-fluid{
	padding-bottom: 10px;
}

.navbar-default{
	background-color: rgb(236,236,255);
	border-color: white;
	padding-right: 15px;
	padding-top: 10px;
}

.navbar-default .navbar-nav .active a {
	border-bottom: 2px red solid;
	color: red;
	background-color: rgb(236,236,255);
}

.navbar-default .navbar-nav .dropdown .active a {
	border-bottom: 2px red solid;
	color: red;
	background-color: rgb(236,236,255);
}

.navbar-default .navbar-nav .active a:focus{
	color: red;
	background-color: rgb(236,236,255);
}

.navbar-default .navbar-nav li a:hover{
	color: red;
	background-color: rgb(236,236,255);
}


.active{
	border-bottom: 2px red solid;
	color: red;
	background-color: rgb(236,236,255);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color:#fff;
  padding: 10px 0;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #333;
     color:#fff;
  padding: 10px 0;
   text-align: center;
}
.copyright
{
	padding-left:20px;
}
.footer i{
	padding-right:10px;
	color: rgb(255,255,0);
}

.projects .add .well{
	padding-top: 50px;
}

.projects .view .well{
	margin: 0 0 5px; padding: 15px;
	padding-top: 35px;
}

